body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-weight: 300;
    margin-bottom: 0.5em;
}

a {
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section {
    text-align: center;
}

#welcome-section img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1em;
}

#welcome-section p {
    margin-bottom: 1em;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

.social-links li {
    margin-right: 1em;
}

.social-links img {
    width: 32px;
    height: 32px;
}
